*, 
*::before, 
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	min-width: 960px;
	font-family: 'PT Sans Narrow', 'Arial', sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
	background: $dark url(../img/body-bg.jpg) center top no-repeat;
	color: $light;
}

.inner-page {
	color: $dark;
	background: $content-bg url(../img/pattern-white.jpg) 0 0 repeat;
}

.container {
	margin: 0 auto;
	width: 960px;
	padding: 0 10px;
}

.index-content__title, 
.features__name {
	margin: 0;
	font-size: 30px;
	line-height: 42px;
}

a {
	text-decoration: none;
	color: $light;
}

.btn {
	display: inline-block;
	padding: 10px 33px;
	background-color: $dark;
	color: $light;
	padding: 10px 34px;
	background-color: $dark;
	cursor: pointer;
	border: none;
	text-transform: uppercase;
	text-decoration: none;
	font: inherit;
	vertical-align: top;
	text-align: center;
	margin-right: 16px;
	transition: background-color 0.2s ease-in-out;

	&:hover, 
	&:active {
		background-color: $hover-btn;
	}

	&.disabled, 
	&:disabled {
		cursor: default;
		opacity: 0.5;

		&:hover {
			background-color: $dark;
		}
	}
}