*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	min-width: 960px;
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	color: $light;
	text-transform: uppercase;
	background: $dark url("../img/body-bg.jpg") center top no-repeat;
}

.inner-page {
	color: $dark;
	background: $content-bg url("../img/pattern-white.jpg") 0 0 repeat;
}

.container {
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}

.index-content__title,
.features__name {
	margin: 0;
	font-size: 30px;
	line-height: 42px;
}

a {
	color: $light;
	text-decoration: none;
}

.btn {
	display: inline-block;
	margin-right: 16px;
	padding: 10px 34px;
	font: inherit;
	vertical-align: top;
	text-align: center;
	color: $light;
	text-transform: uppercase;
	text-decoration: none;
	background-color: $dark;
	border: none;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;

	&:hover,
	&:active {
		background-color: $hover-btn;
	}

	&.disabled,
	&:disabled {
		cursor: default;
		opacity: 0.5;

		&:hover {
			background-color: $dark;
		}
	}
}
