.main-footer {
	margin-top: 63px;
	padding-top: 60px;
	padding-bottom: 40px;
	color: $light;
	background: $dark-bg url("../img/pattern-dark.jpg") 0 0 repeat;

	.main-footer__layout {
		display: flex;
		justify-content: flex-start;
	}

	p {
		margin: 0;
	}
}

.inner-page-footer {
	box-shadow: inset 0 30px 40px -15px $dark;
}

.main-footer__contacts {
	margin-right: 63px;
}

.footer-contacts {
	width: 320px;

	a {
		color: $light;
		text-decoration: none;
		border-bottom: 1px solid transparent;
		transition: all 0.3s ease-in-out;

		&:hover,
		&:active {
			border-bottom: 1px solid $light;
		}
	}
}

.footer-social {
	width: 180px;
	text-align: center;

	p {
		margin-bottom: 15px;
	}
}

.footer-social__btn {
	display: inline-block;
	width: 43px;
	height: 43px;
	margin: 0 2px;
	vertical-align: top;
	text-decoration: none;
	white-space: nowrap;
	text-indent: -9999px;
	background: $dark url("../img/sprite.png") center no-repeat;
	transition:
		background-color 0.5s,
		background-position 0.5s;

	&:hover {
		background-color: $light;
	}
}

.footer-social__btn--vk {
	background-position: -1px -32px;

	&:hover {
		background-position: -2px -68px;
	}
}

.footer-social__btn--fb {
	background-position: 5px -262px;

	&:hover {
		background-position: 5px -304px;
	}
}

.footer-social__btn--inst {
	background-position: 2px -180px;

	&:hover {
		background-position: 2px -221px;
	}
}

.main-footer__copyright {
	margin-left: auto;
}

.footer-copyright {
	max-width: 180px;

	p {
		margin-bottom: 15px;
		text-align: center;
	}

	.btn {
		width: 100%;
		margin-right: 0;
		padding: 10px 22px;
		transition:
			color 0.5s ease-in-out,
			background-color 0.5s ease-in-out;

		&:hover {
			color: $dark;
			background-color: $light;
		}
	}
}
