.main-header {
	margin-bottom: 60px;
	color: $light;
	background-color: $dark;

	.main-header-layout {
		display: flex;
		justify-content: space-between;
	}
}

.inner-page {
	.main-header {
		margin-bottom: 50px;
	}
}

.main-navigation {
	display: flex;
	justify-content: flex-start;
	width: 780px;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: 0;
	}

	li {
		display: inline-block;
		font-size: 16px;
		line-height: 20px;
		vertical-align: middle;
	}

	a {
		display: block;
		padding: 26px 20px;
		transition: background-color 0.2s ease;

		&:hover,
		&:active {
			background-color: $hover-menu;
		}
	}

	.active {
		position: relative;

		&::after {
			content: "";
			position: absolute;
			right: 20px;
			bottom: 0;
			left: 20px;
			height: 4px;
			background-color: $light;
		}

		a {
			&:hover,
			&:active {
				background: none;
				cursor: default;
			}
		}
	}
}

.main-navigation .logo-inner {
	display: block;
	width: 151px;
	height: 72px;

	&:hover,
	&:active {
		background: none;
	}

	img {
		width: 111px;
		height: 24px;
	}
}

.user-block {
	max-width: 140px;
}

.login {
	position: relative;
	display: inline-block;
	padding: 26px 20px 26px 50px;
	font-size: 16px;
	line-height: 20px;
	vertical-align: middle;
	color: $light;
	text-decoration: none;
	transition: background-color 0.2s ease;

	&::before {
		content: "";
		position: absolute;
		top: 28px;
		left: 20px;
		display: inline-block;
		width: 18px;
		height: 16px;
		background: url("../img/sprite.png") -10px -117px;
		opacity: 0.3;
		transition: opacity 0.5s ease;
	}

	&:hover,
	&:active {
		background-color: $hover-menu;

		&::before {
			opacity: 1;
		}
	}
}
