.inner-page-title {
	margin-bottom: 46px;

	h1 {
		margin: 0;
		margin-bottom: 15px;
		padding: 0;
		font-size: 30px;
		line-height: 42px;
	}
}

.breadcrumbs {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;

	li {
		position: relative;
		display: inline;
		padding-right: 40px;
		font-size: 14px;
		line-height: 24px;

		&::after {
			content: "";
			position: absolute;
			top: 5px;
			right: 15px;
			display: block;
			width: 8px;
			height: 8px;
			background-color: $dark;
			transform: rotate(45deg);
		}

		&:last-child::after {
			display: none;
		}
	}

	a {
		color: $dark;
		text-decoration: none;
		border-bottom: 1px solid transparent;
		transition: all 0.3s ease-in-out;

		&:hover {
			border-bottom: 1px solid $dark;
		}
	}
}

.current {
	color: $disabled;
	cursor: default;
}

.inner-content {
	margin-bottom: 75px;

	h2 {
		width: 100%;
		margin-top: 60px;
		margin-bottom: 30px;
		font-size: 24px;
		line-height: 30px;
	}

	p {
		margin: 14px 0;
	}

	table {
		border-collapse: collapse;
	}

	td {
		padding: 10px 15px;
		border: 2px solid $dark;
	}

	.big-heading {
		display: flex;
		align-items: center;
		margin-top: 55px;
		margin-bottom: 65px;
		font-size: 48px;
		line-height: 48px;
		text-align: center;

		&::before,
		&::after {
			content: "";
			flex-grow: 1;
			width: 50px;
			height: 2px;
			background: $dark;
		}

		&::before {
			margin-right: 25px;
		}

		&::after {
			margin-left: 25px;
		}
	}
}

.custom-list-1 {
	margin: 14px 0;
	padding: 0;
	list-style: none;

	li {
		position: relative;
		margin-bottom: 15px;
		padding-left: 20px;

		&::before {
			content: "";
			position: absolute;
			top: 8px;
			left: 0;
			width: 8px;
			height: 8px;
			background-color: $dark;
			transform: rotate(45deg);
		}
	}
}

.prices-table {
	width: 100%;

	td {
		width: 50%;

		&:last-child {
			text-align: center;
		}
	}
}

.inner-columns {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 60px 0;

	*:first-child {
		margin-top: 0;
	}
}

.inner-column-left,
.inner-column-right {
	width: 460px;
}

.short-text {
	padding-right: 80px;
}
