.modal-content__close,
.modal-map__close {
	position: absolute;
	top: 0;
	right: -34px;
	width: 22px;
	height: 22px;
	font-size: 0;
	background-color: transparent;
	border: 0;
	cursor: pointer;

	&::before,
	&::after {
		content: "";
		position: absolute;
		top: 10px;
		left: 2px;
		width: 19px;
		height: 3px;
		background-color: $close-btn;
		border-radius: 1px;
	}

	&::before {
		transform: rotate(45deg);
	}

	&::after {
		transform: rotate(-45deg);
	}
}

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	display: none;
	width: 100%;
	height: 100%;
	background: rgba($dark, 0.7);
}
