.modal-content {
	display: none;
	position: fixed;
	z-index: 20;
	top: 120px;
	left: 50%;
	transform: translateX(-50%);
	width: 460px;
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
	background: $content-bg url(../img/pattern-white.jpg) 0 0 repeat;
	color: $dark;
	padding: 50px 80px;

	h2 {
		font-size: 30px;
		line-height: 42px;
		margin: 0 0 20px 0;
	}

	p {
		margin: 0 0 14px 0;
	}
}

.modal-content-show {
	display: block;
}

.login-form {
	margin-bottom: 10px;

	input[type="text"],
	input[type="password"] {
		width: 300px;
		margin: 0 0 10px 0;
		padding: 10px 40px 10px 20px;
		font: inherit;
		text-transform: inherit;
		color: inherit;
		background-color: $content-bg;
		border: 2px solid $dark;

		&::-webkit-input-placeholder {
			color: $dark;
		}
		&::-moz-placeholder {
			color: $dark;
		}
		&:-moz-placeholder {
			color: $dark;
		}
		&:-ms-input-placeholder {
			color: $dark!important;
		}

		&:focus {
			border-color: $hover-btn;
			outline-color: $hover-btn;
		}
	}

	input.icon-user {
		background-image: url(../img/sprite.png);
		background-repeat: no-repeat;
		background-position: 100% 4px;
	}

	input.icon-password {
		background-image: url(../img/sprite.png);
		background-repeat: no-repeat;
		background-position: 100% -141px;
	}

	.restore {
		float: right;
		color: $dark;
		text-decoration: underline;
		transition: color 0.2s;

		&:hover, &:active {
			color: $hover-btn;
		}
	}

	.btn {
		width: 100%;
		margin-top: 15px;
	}
}

.login-checkbox {
	position: relative;
	padding-left: 30px;
	cursor: pointer;
	transition: color 0.2s;

	&:hover {
		color: $hover-btn;
	}

	input[type="checkbox"] {
		display: none;
	}

	input[type="checkbox"] + .checkbox-indicator {
		position: absolute;
		top: -1px;
		left: 0;
		width: 22px;
		height: 22px;
		border: 2px solid $dark;
	}

	input[type="checkbox"]:checked + .checkbox-indicator::before,
	input[type="checkbox"]:checked + .checkbox-indicator::after {
		content: '';
		position: absolute;
		top: 8px;
		left: 1px;
		width: 16px;
		height: 2px;
		background-color: $dark;
	}

	input[type="checkbox"]:checked + .checkbox-indicator::before {
		transform: rotate(45deg);
	}

	input[type="checkbox"]:checked + .checkbox-indicator::after {
		transform: rotate(-45deg);
	}
}
