.modal-content {
	position: fixed;
	top: 120px;
	left: 50%;
	z-index: 20;
	display: none;
	width: 460px;
	margin-left: -230px;
	padding: 50px 80px;
	color: $dark;
	background: $content-bg url("../img/pattern-white.jpg") 0 0 repeat;
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);

	h2 {
		margin: 0 0 20px 0;
		font-size: 30px;
		line-height: 42px;
	}

	&__insruction {
		margin: 0 0 14px 0;
	}
}

@keyframes bounce {
	0% {
		transform: translateY(-2000px);
	}

	70% {
		transform: translateY(30px);
	}

	90% {
		transform: translateY(-10px);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes shake {
	0%,
	100% {
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70%,
	90% {
		transform: translateX(-10px);
	}

	20%,
	40%,
	60%,
	80% {
		transform: translateX(10px);
	}
}

.modal-content--show {
	display: block;
	animation: bounce 0.6s;
}

.modal-error {
	animation: shake 0.6s;
}

.modal-content__form {
	margin-bottom: 10px;
}

.login-form {
	&__input {
		width: 300px;
		margin: 0;
		padding: 10px 40px 10px 20px;
		font: inherit;
		color: inherit;
		text-transform: inherit;
		background-color: $content-bg;
		border: 2px solid $dark;

		&::-webkit-input-placeholder {
			color: $dark;
		}

		&::-moz-placeholder {
			color: $dark;
		}

		&:-moz-placeholder {
			color: $dark;
		}

		&:-ms-input-placeholder {
			color: $dark !important;
		}

		&:focus {
			border-color: $hover-btn;
			outline-color: $hover-btn;
		}
	}

	&__item {
		margin: 0 0 10px 0;
	}

	&__input--icon-user {
		background-image: url("../img/sprite.png");
		background-repeat: no-repeat;
		background-position: 100% 4px;
	}

	&__input--icon-password {
		background-image: url("../img/sprite.png");
		background-repeat: no-repeat;
		background-position: 100% -141px;
	}

	&__login-password-info {
		margin: 0;
	}

	&__restore {
		float: right;
		color: $dark;
		text-decoration: underline;
		transition: color 0.2s;

		&:hover,
		&:active {
			color: $hover-btn;
		}
	}

	.btn {
		width: 100%;
		margin-top: 15px;
	}
}

.login-form__checkbox {
	position: relative;
	padding-left: 30px;
	cursor: pointer;
	transition: color 0.2s;

	&:hover {
		color: $hover-btn;
	}

	input[type="checkbox"] {
		display: none;
	}

	input[type="checkbox"] + .login-form__checkbox-indicator {
		position: absolute;
		top: -1px;
		left: 0;
		width: 22px;
		height: 22px;
		border: 2px solid $dark;
	}

	input[type="checkbox"]:checked + .login-form__checkbox-indicator::before,
	input[type="checkbox"]:checked + .login-form__checkbox-indicator::after {
		content: "";
		position: absolute;
		top: 8px;
		left: 1px;
		width: 16px;
		height: 2px;
		background-color: $dark;
	}

	input[type="checkbox"]:checked + .login-form__checkbox-indicator::before {
		transform: rotate(45deg);
	}

	input[type="checkbox"]:checked + .login-form__checkbox-indicator::after {
		transform: rotate(-45deg);
	}
}
