@import 'normalize';

@import 'vars';
@import 'common';

@import 'header';
@import 'index-main';
@import 'footer';

@import 'inner-main';




// x
// .bg-icon_fb {
//     width: 12px; height: 22px;
//     background: url(../img/sprite.png) -10px -272px;
// }

// x
// .bg-icon_inst {
//     width: 21px; height: 21px;
//     background: url(../img/sprite.png) -10px -190px;
// }

// x
// .bg-icon_password {
//     width: 15px; height: 17px;
//     background: url(../img/sprite.png) -10px -153px;
// }

// x
// .bg-icon_user {
//     width: 15px; height: 15px;
//     background: url(../img/sprite.png) -10px -10px;
// }

// x
// .bg-icon_inst_dark {
//     width: 21px; height: 21px;
//     background: url(../img/sprite.png) -10px -231px;
// }

// x
// .bg-icon_fb_dark {
//     width: 12px; height: 22px;
//     background: url(../img/sprite.png) -10px -314px;
// }

// x
// .bg-icon_vk {
//     width: 25px; height: 16px;
//     background: url(../img/sprite.png) -10px -45px;
// }

// x
// .bg-icon_vk_dark {
//     width: 25px; height: 16px;
//     background: url(../img/sprite.png) -10px -81px;
// }

// x
// .bg-icon_login {
//     width: 18px; height: 16px;
//     background: url(../img/sprite.png) -10px -117px;
// }
